<!DOCTYPE html>
# http://127.0.0.1:8000/vbc/ofertas/listar
{% extends "App01/_base.html" %}
{% load static %}
{% block Cambia %}
<body>
    <font color="Black" face="arial" size=4&gt>
<br /> 
<br /> 
<br />  
<br /> 
<p>OFERTAS. Mantenimiento:    <br /></p>
<a href="{% url 'Ofertasea.'  %}">Agregar</a>
{% for p in ofertase %}
<p>° Codigo: {{p.codigo}} | Destino: {{p.nombre}} | </p>
|||
<a href="{% url 'Ofertased.' p.pk %}">Detallar</a>
||--||
<a href="{% url 'EditarOferta.' p.pk %}">Editar</a>
||--||
<a href="{% url 'BorrarOferta.' p.pk %}">Borrar</a>
||||{{p.id}}|{{p.pk}}|{{p.codigo}}|
{% endfor %}
</font>   
</body>
{% endblock %}
</html>