<!DOCTYPE html>

{% extends "App01/_base.html" %}
{% load static %}
{% block Cambia %}
INGRESO SOLICITUD PRESUPUESTO <br /> <br /> <br />
    {% block title %} Ingreso Presupuesto {% endblock title %}

    {% block main %}
        <form action="/ingrese/" method="POST">
            {% csrf_token %}
            <p> DNI <input type = "number" name="clientedni"> </p>
            <p> CodigoTransporte <input type = "number" name="codigotransporte"> </p> 
            <p> CodigoDestino <input type = "number" name="codigodestino"> </p>
            <p> Comentario <input type = "text" name="comentario"> </p>
            <p> FechaViaje <input type = "date" name="fechaviaje" format="yyyy-mm-dd"> </p>
            <p> Dias <input type = "number" name="dias"> </p>
            <p> Pasajeros <input type = "number" name="pasajeros"> </p>
<!--  sin forms-->            
            <input type="submit" value="Enviar">
        </form>
    {% endblock main %}
{% endblock Cambia %} 
</html>