<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:LightBlue;">
    <font color="Black" face="arial" size=4&gt>
    Plantilla01
    
    <p style="color:blue">Categoria: {{c}} </p>
  <p style="color:green">Tipo: {{t}} </p>

  <h1> creado el: {{h}} </h1>
  <h3> precios: </h3>

  <p>
  {% for n in pre %}
      {% if n < 400 %}
          <p style="color:red">Oferta: {{n}} </p>
      {% else %} <p style="color:blue">Normal: {{n}} </p>
      {% endif %} 
  {% endfor %}
</font>
</body>
</html>